@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

html,
body {
  background-image: url("https://dx5683gi1tv0w.cloudfront.net/dtrjyhj9q/image/upload/w_1920/s3/img02zd8w278");
  background-position: center;
  font-family: "Rock Salt", cursive;
  font-size: 1.03em;
  font-weight: 900;
  letter-spacing: 1px;
  margin: 0;
}

@media screen and (max-width: 900px) {
  html,
  body {
    font-size: 0.8em;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-left: 15px;
  }
}
